In [ ]:
len()

In [ ]:
len?

In [ ]:
print('1','2')

In [ ]:
print

In [ ]:
print('a','b', sep="&",end='n')

In [ ]:
print?

In [ ]:
name = "ahmed"
age = 12

In [ ]:
name = "ahmed"
age = 12
a=('welcome sir', name,  )
print(a)

In [ ]:
a=('welcome sir')
print(a)

In [ ]:
()

In [ ]:
print()

In [ ]:
a=1
print(a)

In [3]:
name= "b"
print("a",name ,"")

a b

In [5]:
name = "yousuf"
print(name)
print(len(name)) #count len
print(type(name)) # define type 
print(id(name)) #id in system
print(dir(name)) #metheds and atributes

yousuf
6
<class 'str'>
2004753696496
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [7]:
age = "21"
print(age)
print(len(age)) #count len
print(type(age)) # define type 
print(id(age)) #id in system
print(dir(age)) #metheds and atributes

21
2
<class 'str'>
2004753695920
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

 # text formating

In [11]:
first_name = "mohummad"
print(first_name)

mohummad

#rules for python variable

# rules of variables name in python

Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

    A variable name must start with a letter or the underscore character
    A variable name cannot start with a number
    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    Variable names are case-sensitive (age, Age and AGE are three different variables)

In [13]:
first_name = "mohummad"
print(first_name)

mohummad

In [14]:
a = len("mohummad") #return function
print(a)

8

In [15]:
a = print("qasim") #non return function
print(a)
print(a)
print(a)

qasim
None
None
None

In [16]:
print(a)

None

# concatination

In [35]:
first_name="mohummad"
last_name="qasim"
institute_name="saylani"
age = ("30")
card = "institute Name:" + institute_name+ "\n student name :" +first_name + last_name+ "\n age"' ' + age
print(card)

institute Name:saylani
 student name :mohummadqasim
 age 30

# concatination

In [37]:
age = 21
print(age,(type))
# type castion
age = 21

21 <class 'type'>

# formating

In [41]:
first_name="mohummad"
last_name="qasim"
institute_name="saylani"
age = ("30")

card = """institute name :{}
student full name : {} {}
age : {}"""
.formating (institute_name,first_name,last_name,age)
    print(card)

SyntaxError: invalid syntax (476465301.py, line 9)

# conacatination
* +
* variable name format

In [50]:
first_name="mohummad"
last_name="qasim"
institute_name="saylani"
age = 30

card = f"""institute name: {institute_name}
      student full name: {first_name} {last_name}
      age: {age}"""

print(card)

institute name: saylani
      student full name: mohummad qasim
      age: 30

In [46]:
first_name = "mohammad"
last_name = "qasim"
institute_name = "saylani"
age = 30

card = f"""institute name: {institute_name}
      student full name: {first_name} {last_name}
      age: {age}"""

print(card)

institute name: saylani
      student full name: mohammad qasim
      age: 30

In [56]:
card = """institute name: %s
student full name: %s %s
age: %d
      """ % (institute_name, first_name, last_name, age )
print(card)

institute name: saylani
student full name: mohummad qasim
age: 30

In [55]:
card = """institute name: %s
student full name: %s %s
'age: %d
      """ % (institute_name, first_name, last_name, age)
print(card)

institute name: saylani
student full name: mohummad qasim
age: 30

In [60]:
for idx, i in enumerate([i for i in card.split() if "_" not in i]):
    print(idx,i)

0 institute
1 name:
2 saylani
3 student
4 full
5 name:
6 mohummad
7 qasim
8 age:
9 30

In [59]:
for idx, i in enumerate([i for i in card.split() if "_" not in i]):
    print(idx, i)

0 institute
1 name:
2 saylani
3 student
4 full
5 name:
6 mohummad
7 qasim
8 age:
9 30

In [64]:
print(card)
card.capitalize("am")

institute name: saylani
student full name: mohummad qasim
age: 30

TypeError: str.capitalize() takes no arguments (1 given)

97

In [66]:
txt = "My name is St√•le"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'